.navbar .container {
  width: 1170px;
}
a,
a:link {
  color: #333;
}
h1 {
  font-size: 29px;
}
ul {
  list-style: none;
  padding: 0px;
}
.bs-docs-sidenav li.active {
  border-left: 3px #333 solid;
  background-color: #eee;
}
.title_nav_brush {
  height: 270px;
  width: 100%;
  transition: height 1s;
  margin-top: 68px;
  background: linear-gradient(#dddddd, #f1f1f1);
  background-image: url('../images/bg/related-bg.png');
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.title_nav_brush .brush_content {
  padding-top: 10px;
  width: 960px;
  margin: 0 auto;
  height: 250px;
}
.title_nav_brush .brush_content .content-6-1 h3 {
  color: #333;
  text-shadow: 0 1px 0 #fff;
  width: 140px;
  padding-left: 0;
  font-weight: bold;
  font-size: 13px;
}
.title_nav_brush .brush_content .content-6-1 ul {
  padding: 0;
  padding-left: 18px;
  margin: 0;
}
.title_nav_brush .brush_content .content-6-1 li {
  font-size: 13px;
  text-shadow: 0 1px 0 #fff;
  height: 21px;
}
.title_nav_brush .brush_content .content-6-1 li:hover {
  color: blue;
}
.title_nav_brush .title_brush_close {
  text-align: center;
  color: #999;
}
.title_nav_brush .title_brush_close .close_btn:hover {
  color: #333;
  cursor: pointer;
}
.details {
  width: 100%;
  min-height: 600px;
  padding-bottom: 30px;
}
.details .details_top_bar {
  margin-top: 68px;
  width: 100%;
  height: 150px;
  background: url("../images/bg/bg-small.png") no-repeat 70% 50%;
  background-color: #fcfcfc;
  border-bottom: 1px solid #E5E5E5;
}
.details .details_top_bar .details_top_content {
  width: 1170px;
  margin: 0 auto;
}
.details .details_top_bar .details_top_content .bread_crumbs {
  list-style-type: none;
  margin: 0px;
  padding: 15px 0 0 0;
  text-shadow: 0px 1px 0 #FFF;
}
.details .details_top_bar .details_top_content .bread_crumbs li a {
  color: #999;
}
.details .details_top_bar .details_top_content li {
  font-size: 0.8em;
  background: url('../images/icon/nav-trail.gif') no-repeat 100% 1px;
  display: inline;
  float: left;
  clear: none;
  margin: 0px;
  padding: 0px 16px 0 2px;
}
.details .details_top_bar .details_top_content p {
  width: 600px;
  font-size: 13px;
  color: #999;
}
.details .details_content_nav {
  width: 100%;
  height: 30px;
}
.details .details_content_nav .details_nav_content {
  width: 1170px;
  height: 30px;
  margin: 0 auto;
  margin-top: -41px;
  list-style: none;
  padding: 0px;
}
.details .details_content_nav .details_nav_content li {
  float: left;
  margin-right: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  background-color: #dddddd;
  opacity: .90;
}
.details .details_content_nav .details_nav_content li a {
  font-weight: bold;
}
.details .details_content_nav .details_nav_content li.active {
  background-color: #fff;
}
.details .details_content_nav .details_nav_content li:hover {
  cursor: pointer;
}
.details .details_content {
  width: 1170px;
  margin: 0 auto;
  margin-top: 20px;
  height: 500px;
  clear: both;
}
.details .details_content h2.ioc_rule {
  border-top: 2px solid #666;
  padding-top: 6px;
  margin-top: 10px !important;
  font-size: 15px;
}
.details .details_content .details_table .statics_tab {
  width: 30%;
  border-right: solid 1px #ccc;
}
.details .details_content .details_table .statics_tab li {
  padding-top: 10px;
  border-bottom: solid 1px #fff;
}
.details .details_content .details_table .statics_tab .data {
  font-size: 27px;
  margin: 0px;
}
.details .details_content .details_table .statics_tab ul {
  padding-top: 10px;
}
.details .details_content .details_table .chart_tab {
  width: 70%;
}
.details .details_content .details_table .table_panel_title {
  margin-left: 10px;
  font-size: 15px;
  padding-bottom: 5px;
  border-bottom: 2px #333 solid;
}
.details .details_content .info-panel .desc {
  color: #999;
}
.details .details_content .info-panel .pie-title {
  text-align: center;
  font-size: 15px;
}
.itab {
  border: 1px #ccc solid;
  margin-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.itab .itab-header {
  height: 40px;
  background-image: linear-gradient(to top, #1f7fca, #339aea);
  border-bottom: solid #ccc 1px;
}
.itab .itab-header h2 {
  font-size: 17px;
  padding: 0px;
  margin: 10px 0 0 0;
  padding-left: 15px;
  float: left;
  display: block;
  color: white;
}
.itab .itab-header h2 span {
  font-size: 15px;
}
.itab .itab-header .right-header {
  padding: 10px;
  color: white;
}
.itab .itab-header .right-header ul li {
  float: left;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.itab .itab-header .right-header ul .active {
  border-bottom: 2px solid #fcfcfc;
}
.itab .itab-content {
  padding: 10px 0 10px 0;
  min-height: 50px;
}
.itab .itab-content .itab-data thead {
  background-color: #f9f9f9;
}
.itab .itab-content .itab-data tr:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
.radius {
  border-radius: 5px 5px 0px 0px;
}
.none_wrap_panel {
  padding-bottom: 10px;
}
.wrap_panel {
  margin-top: 10px;
  padding: 10px;
  border: solid 1px #ccc;
}
.wrap_panel .header {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  border-left: 3px solid #333;
  padding-left: 5px;
  width: 90%;
}
.wrap_panel .header-green {
  border-left-color: green;
}
.wrap-gray {
  background-color: #efefef;
}
.fill_panel {
  padding: 0px;
}
