/*
 *  global css
 */
body {
  font-family: 'Microsoft Yahei', STHeiti, sans-serif;
  font-size: 14px;
}
.container {
  width: 930px;
  margin: 0 auto;
  padding: 0;
}
/*
 * header css
 */
.navbar-ioc {
  min-height: 68px;
  margin-bottom: 0;
  background-color: #1f7fca;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(102, 102, 102, 0.68), inset 0 1px rgba(255, 255, 255, 0.41);
  -moz-box-shadow: 0 1px 1px rgba(102, 102, 102, 0.68), inset 0 1px rgba(255, 255, 255, 0.41);
  box-shadow: 0 1px 1px rgba(102, 102, 102, 0.68), inset 0 1px rgba(255, 255, 255, 0.41);
  background-image: -webkit-linear-gradient(bottom, #1f7fca, #339aea);
  background-image: -moz-linear-gradient(bottom, #1f7fca, #339aea);
  background-image: -o-linear-gradient(bottom, #1f7fca, #339aea);
  background-image: linear-gradient(to top, #1f7fca, #339aea);
}
.navbar-ioc .navbar-header .navbar-brand {
  padding: 14px 0;
  margin: 0;
  height: 68px;
  width: 360px;
}
.navbar-ioc .navbar-nav > li.active a {
  color: #fff;
  background-color: #0e568e;
  background-image: -webkit-linear-gradient(top, #15619c, #207fc9);
  background-image: -moz-linear-gradient(top, #15619c, #207fc9);
  background-image: -o-linear-gradient(top, #15619c, #207fc9);
  background-image: linear-gradient(to bottom, #15619c, #207fc9);
}
.navbar-ioc .navbar-nav > li.active a:hover {
  color: #fff;
}
.navbar-ioc .navbar-nav > li a {
  color: #fff;
  padding: 24px 34px;
}
.navbar-ioc .navbar-nav > li a:hover {
  color: #fff;
  background-color: #0e568e;
  background-image: -webkit-linear-gradient(top, #15619c, #207fc9);
  background-image: -moz-linear-gradient(top, #15619c, #207fc9);
  background-image: -o-linear-gradient(top, #15619c, #207fc9);
  background-image: linear-gradient(to bottom, #15619c, #207fc9);
}
.navbar-ioc .navbar-option {
  font-size: 12px;
  color: #fff;
  line-height: 40px;
}
.navbar-ioc .navbar-option a {
  color: #fff;
}
.navbar-ioc .navbar-option a:hover,
.navbar-ioc .navbar-option a:focus {
  text-decoration: none;
}
/*
 * login page css
 */
.login-header {
  height: 56px;
  width: 586px;
  margin: 0 auto;
}
.login-header .icon-container {
  float: left;
  height: 56px;
}
.login-header .icon-container img {
  width: 131px;
  height: 40px;
  margin: 8px 0;
}
.login-header .link-container {
  float: right;
  height: 56px;
  padding-top: 25px;
}
.login-header .link-container a {
  color: #36658e;
  text-decoration: underline;
}
.login-banner {
  height: 280px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.login-banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.login-banner .login-form-container {
  width: 586px;
  height: 280px;
  margin: 0 auto;
  position: relative;
}
.login-banner .login-form-container .login-form {
  position: absolute;
  top: 30px;
  right: 0;
  width: 280px;
  height: 220px;
  padding: 15px 20px ;
  background-color: #1f7fca;
  border-radius: 4px;
  border: solid 1px #999;
  background-image: -webkit-linear-gradient(bottom, #1f7fca, #3198e9);
  background-image: -moz-linear-gradient(bottom, #1f7fca, #3198e9);
  background-image: -o-linear-gradient(bottom, #1f7fca, #3198e9);
  background-image: linear-gradient(to top, #1f7fca, #3198e9);
}
.login-banner .login-form-container .login-form .login-form-title {
  color: #fff;
  border-bottom: 1px solid #fff;
  line-height: 25px;
}
.login-banner .login-form-container .login-form .login-form-content .form-text {
  color: #fff;
  font-size: 12px;
}
.login-banner .login-form-container .login-form .login-form-content .form-input {
  color: #000;
  width: 100%;
  height: 24px;
  border-radius: 0;
  padding: 5px;
}
.login-banner .login-form-container .login-form .login-form-content .form-link {
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.login-banner .login-form-container .login-form .login-form-content .form-btn {
  width: 66px;
  height: 24px;
  padding: 0;
  font-size: 12px;
  background-color: #fff;
  border-radius: 0;
}
.login-banner .login-form-container .login-form .login-form-content .table {
  display: table;
  margin: 0;
}
.login-banner .login-form-container .login-form .login-form-content .table .row {
  display: table-row;
}
.login-banner .login-form-container .login-form .login-form-content .table .row .cell {
  display: table-cell;
  vertical-align: middle;
}
.login-footer {
  text-align: center;
  padding: 30px 0;
}
.login-footer a {
  color: #36658e;
}
.login-footer .copy-right {
  color: #999999;
  line-height: 20px;
}
