<nav class="navbar navbar-default navbar-fixed-top navbar-ioc">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="images/icon/ioc-logo-taicang.png">
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="">首页</a></li>
      <li id="KPI"><a href="">关键指标</a></li>
      

      <li id="BI"><a href="">智能分析</a></li>
      <li><a href="">帮助</a></li>
    </ul>

    <div class="nav navbar-option navbar-right">
      <span>欢迎! XXX</span>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="#">退出</a>
    </div>
  </div>
</nav>


<div class="title_nav_brush"  id="KPI_dropdown"  style="display:none;">
  <div class="brush_container">
    <div class="brush_content">
      <div class="content-6-1 col-md-2">
        <h3>
          <a href="#">经济</a>
        </h3>
        <ul>
          <li>
            <a href="#">财政收入</a>
          </li>
          <li>
            <a href="#">财政支出</a>
          </li>
          <li>GDP</li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="content-6-1 col-md-2">
        <h3>
          <a href="#">经济</a>
        </h3>
        <ul>
          <li>财政收入</li>
          <li>财政支出</li>
          <li>GDP</li>
          <li></li>
          <li></li>
        </ul>
      </div>

    </div>
    <div class="title_brush_close" >
      <span class="glyphicon glyphicon-eject close_btn" value="KPI"></span>
    </div>
  </div>
</div>


<div class="title_nav_brush"  id="BI_dropdown"  style="display:none;">
  <div class="brush_container">
    <div class="brush_content">
      <div class="content-6-1 col-md-2">
        <h3>
          <a href="#">经济</a>
        </h3>
        <ul>
          <li>
            <a href="#">李克强指数</a>
          </li>
          <li>
            <a href="#">财政支出</a>
          </li>
          <li>GDP</li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="content-6-1 col-md-2">
        <h3>
          <a href="#">经济</a>
        </h3>
        <ul>
          <li>财政收入</li>
          <li>财政支出</li>
          <li>GDP</li>
          <li></li>
          <li></li>
        </ul>
      </div>

    </div>
    <div class="title_brush_close">
      <span class="glyphicon glyphicon-eject close_btn" value="BI" ></span>
    </div>
  </div>
</div>

