<nav class="navbar navbar-default navbar-fixed-top navbar-ioc">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="images/icon/ioc-logo-taicang.png">
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="">首页</a></li>
      <li><a href="">关键指标</a></li>
      <li><a href="">智能分析</a></li>
      <li><a href="">帮助</a></li>
    </ul>

    <div class="nav navbar-option navbar-right">
      <span>欢迎! XXX</span>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="#">退出</a>
    </div>
  </div>
</nav>