<ioc-header></ioc-header>
<div class="title_nav_brush" style="display:none;">
	<div class="brush_container">
		<div class="brush_content">
			<div class="content-6-1 col-md-2">
				<h3>
					<a href="#">经济</a>
				</h3>
				<ul>
					<li>
						<a href="#">财政收入</a>
					</li>
					<li>
						<a href="#">财政支出</a>
					</li>
					<li>GDP</li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="content-6-1 col-md-2">
				<h3>
					<a href="#">经济</a>
				</h3>
				<ul>
					<li>财政收入</li>
					<li>财政支出</li>
					<li>GDP</li>
					<li></li>
					<li></li>
				</ul>
			</div>

		</div>
		<div class="title_brush_close">
			<span class="glyphicon glyphicon-eject close_btn" ></span>
		</div>
	</div>
</div>

<div class="details">
	<div class="details_top_bar">
		<div class="details_top_content">
			<ul class="bread_crumbs">
				<li>
					<a href="#">经济</a>
				</li>
			</ul>
			<h1>税收</h1>
			<p>税收是财政收入中的重要部分</p>
		</div>
	</div>
	<div class="details_content_nav">
		<ul class="details_nav_content">
			<li class="active">
				<a>详情</a>
			</li>
			<li>
				<a>分嘻嘻嘻</a>
			</li>
			<li>
				<a>详情</a>
			</li>
		</ul>
	</div>

	<div class="details_content">
		<div class="row">
			<div class="col-md-3">
				<div class="none_wrap_panel">
					<h2 class="ioc_rule">关键指标</h2>
					<p>
						fdsafsdafsdaf
					</p>
				</div>
				<h2 class="ioc_rule">关键指标</h2>
			</div>
			<div class="col-md-9">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a ng-click="current()">当月</a>
					</li>
					<li role="presentation">
						<a href="" ng-click="year()">年数据</a>
					</li>
					<li role="presentation">
						<a href="" ng-click="predict()">分析和预测</a>
					</li>
				</ul>

				<div class="current">
					<div class="tab1" style="display:none;">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>

							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<div class="statics_tab col-md-2">
									<ul>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
									</ul>
								</div>
								<div class="chart_tab col-md-10" >
									<div id="chart1"></div>

								</div>

							</div>
						</div>

					</div>

					<div class="tab2">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>

							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<h2 class="table_panel_title">财政收入增长率</h2>
								<div class="col-md-2">
									<ul>
										<li>fsdfas</li>
										<li>fasf</li>
										<li></li>
									</ul>
								</div>
								<div class="col-md-10" style="height:300px;">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>

											</tbody>
										</table>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>


				<div class="year" style="display:none">
					<div class="tab1" style="display:none;">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>

							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<div class="statics_tab col-md-2">
									<ul>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
									</ul>
								</div>
								<div class="chart_tab col-md-10" >
									<div id="chart1"></div>

								</div>

							</div>
						</div>

					</div>

					<div class="tab2">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>

							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<h2 class="table_panel_title">财政收入增长率</h2>
								<div class="col-md-2">
									<ul>
										<li>fsdfas</li>
										<li>fasf</li>
										<li></li>
									</ul>
								</div>
								<div class="col-md-10" style="height:300px;">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
</div>


