<ioc-header></ioc-header>

<div class="details">
	<div class="details_top_bar">
		<div class="details_top_content">
			<ul class="bread_crumbs"></ul>
			<h1>经济KPI</h1>
			<p>税收是财政收入中的重要部分</p>
		</div>
	</div>

	<div class="details_content">
		<div class="row">
			<div class="col-md-9">

				<div class="container-fluid">
					<div class="col-md-6 itab row radius">
						<div class="itab-header">
							<h2>
								分析
								<span class="glyphicon glyphicon-question-sign " data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>
							</h2>
							<div class="right-header pull-right">
								<ul>
									<li class="active">当月</li>
									<li>去年</li>
									<li>其他</li>
								</ul>
							</div>

						</div>
						<div class="itab-content">
							<div class="container-fluid">
								<div class="btn-group">
									<button type="button" class="btn btn-default">当月</button>
									<button type="button" class="btn btn-default">上月</button>
									<button type="button" class="btn btn-default">预测</button>
								</div>

								<div id="chart" style="height:300px;"></div>
							</div>

						</div>

					</div>

					<div class="col-md-6 itab row radius pull-right">
						<div class="itab-header">
							<h2>
								分析
								<span class="glyphicon glyphicon-question-sign " data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>
							</h2>
							<div class="right-header pull-right">
								<span class="glyphicon glyphicon-question-sign " data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>
							</div>

						</div>
						<div class="itab-content itab-content-data">
							<div class="">
								<div id="chart" class="itab-data" style="height:300px;">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>#</th>
												<th>Table heading</th>
												<th>Table heading</th>
												<th>Table heading</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Table cell</td>
												<td>Table cell</td>
												<td>Table cell</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Table cell</td>
												<td>Table cell</td>
												<td>Table cell</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Table cell</td>
												<td>Table cell</td>
												<td>Table cell</td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="split-bar">
					<a href="" class="pull-right">
						<span>查看财政收入KPI详情>></span>
					</a>
				</div>
				<div class="current">
					<div class="itab  radius">
						<div class="itab-header">
							<h2>
								分析
								<span class="glyphicon glyphicon-question-sign " data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>
							</h2>
							<div class="right-header pull-right">
								<ul>
									<li class="active">当月</li>
									<li>去年</li>
									<li>其他</li>
								</ul>
							</div>

						</div>
						<div class="itab-content">
							<div class="container-fluid">
								<div class="btn-group">
									<button type="button" class="btn btn-default">当月</button>
									<button type="button" class="btn btn-default">上月</button>
									<button type="button" class="btn btn-default">预测</button>
								</div>

								<div id="chart" style="height:300px;"></div>
							</div>

						</div>

					</div>

					<div class="itab  radius">
						<div class="itab-header">
							<h2>
								分析
								<span class="glyphicon glyphicon-question-sign " data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>
							</h2>

						</div>
						<div class="itab-content">
							<div class="btn-group"></div>

						</div>

					</div>

					<div class="tab2">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>
							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<h2 class="table_panel_title">财政收入增长率</h2>
								<div class="col-md-2">
									<ul>
										<li>fsdfas</li>
										<li>fasf</li>
										<li></li>
									</ul>
								</div>
								<div class="col-md-10" style="height:300px;">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>

											</tbody>
										</table>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>

				<div class="year" style="display:none">
					<div class="tab1" style="display:none;">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>

							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<div class="statics_tab col-md-2">
									<ul>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
										<li>
											<p class="data">4041</p>
											<p class="name">当月财政收入累计</p>
										</li>
									</ul>
								</div>
								<div class="chart_tab col-md-10" >
									<div id="chart1"></div>

								</div>

							</div>
						</div>

					</div>

					<div class="tab2">
						<div class="container-fluid">
							<div class="wrap_panel wrap-gray row">
								<h2 class="header header-green pull-left">当月税收</h2>
								<span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></span>

							</div>
						</div>

						<div class="container-fluid">
							<div class="details_table wrap_panel row fill_panel" >
								<h2 class="table_panel_title">财政收入增长率</h2>
								<div class="col-md-2">
									<ul>
										<li>fsdfas</li>
										<li>fasf</li>
										<li></li>
									</ul>
								</div>
								<div class="col-md-10" style="height:300px;">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>#</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
													<th>Table heading</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>2</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="col-md-3">

				<div class="">
					<ul class="nav bs-docs-sidenav">

						<li class="active">
							<a href="#download">财政收入</a>
						</li>
						<li class="">
							<a href="#download">财政支出</a>
						</li>
						<li class="">
							<a href="#download">国内生产总值</a>
						</li>

					</ul>

				</div>
			</div>
		</div>
	</div>
</div>